<!DOCTYPE html>
<html>
<head>
<title><%= yield :header_title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag 'reset', 'bobcat', 'moggy' %>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
</head>
<body>

<header>
	<hgroup>
		<h1><a href="/">Bobcat</a></h1>
	</hgroup>
	<section id="user_nav">
		<% if current_user %>
		<p>Hello, <%= current_user.name %>! (<%= link_to "Sign Out?", signout_path %>)</p>
		<nav>
			<ul>
				<li><%= link_to "Your Bookmarks", bookmarks_path %></li>
				<li><%= link_to "Your Tags", tags_path %></li>
				<li><a href="#help">Help</a></li>
			</ul>
		</nav>
		<% end %>
	</section>
</header>

<section id="help">
	<h3>Logging in</h3>
	<p>You use your Google Mail account to log-in to the site. Simply follow the link provided and grant permission for Bobcat when asked. You'll only need to actually authorise once, from then on you'll simply need to follow the link. </p>

	<h3>Adding bookmarks</h3>
	<p>You add bookmarks to Bobcat using this <a href="javascript:q=location.href;if(document.getSelection){d=document.getSelection();}else{d='';};p=document.title;void(open('http://bobcat.deeden.co.uk/add?bookmark[url]='+encodeURIComponent(q)+'&amp;bookmark[description]='+encodeURIComponent(d)+'&amp;bookmark[title]='+encodeURIComponent(p),'Bobcat','toolbar=no,width=500,height=650'));">Add to Bobcat</a> bookmarklet. Simply drag it to your browser toolbar and then click it when you're on a page you wish to add. If you're using an iPhone then copy the text of <a href="#bookmarklet?javascript:q=location.href;if(document.getSelection){d=document.getSelection();}else{d='';};p=document.title;void(open('http://bobcat.deeden.co.uk/add?bookmark[url]='+encodeURIComponent(q)+'&amp;bookmark[description]='+encodeURIComponent(d)+'&amp;bookmark[title]='+encodeURIComponent(p),'Bobcat','toolbar=no,width=500,height=650'));">this link</a>, add this page as a bookmark, update the bookmark with the copied link, and then remove everything before <code>javascript</code> in the link.

	<p>One you have the bookmark installed you can click/select it when on any page in order to add it to Bobcat. On the form which is then displayed the title and url of the page will be used. Any text you have selected on the page will also be used for the description. Make any changes you require, such as adding tags, and then click add.</p>
</section>

<section id="content">
<h2><%= yield :page_title %></h2>
<%= yield %>
</section>

<section id="footer">
	<p>Made in Northern Ireland by <a href="http://deeden.co.uk/">Stephen Rushe</a>.</p>
</section>

</body>
</html>
