<!DOCTYPE html>
<html>
<head>
<title>Popup - <%= yield :header_title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag 'reset', 'bobcat', 'moggy' %>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
</head>
<body>

<header>
	<hgroup>
		<h1>Bobcat</h1>
	</hgroup>
<% if current_user %>
	<section id="user_nav">
		<p>Hello, <%= current_user.name %>! New link I see.</p>
	</section>
<% end %>
</header>

<section id="popup_content">
<h2><%= yield :page_title %></h2>
<%= yield %>
</section>

<section id="footer">
	<p>Made in Northern Ireland by Stephen Rushe.</p>
</section>

</body>
</html>
